{% extends "layout.html" %}
{% block head %}
<style type="text/css">
.ellipsis li {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;list-style-position:inside;}
</style>
{% endblock %}

{% block content %}

<section class="content">
<div class="container-fluid p-5">

<h2>Recortes de Imprensa:</h2>

<ul class="lead ellipsis">
<li>Jornal Público: <a href="http://cehum.ilch.uminho.pt/static/events/17-06-2021-publico.pdf" target="_blank">PDF</a> | <a href="https://www.publico.pt/2021/06/17/ciencia/noticia/arquivopt-premiada-plataforma-recolhe-dados-minorias-jornais-1966463" target="_blank">Web</a></li>
<li>Sapo TEK: <a href="https://tek.sapo.pt/extras/site-do-dia/artigos/como-e-que-a-imprensa-aborda-as-minorias-o-projeto-major-minors-da-uma-resposta" target="_blank">https://tek.sapo.pt/extras/site-do-dia/artigos/como-e-que-a-imprensa-aborda-as-minorias-o-projeto-major-minors-da-uma-resposta</a></li>
<li>Arquivo.pt 2021: <a href="https://sobre.arquivo.pt/pt/conheca-os-vencedores-do-premio-arquivo-pt-2021/" target="_blank">https://sobre.arquivo.pt/pt/conheca-os-vencedores-do-premio-arquivo-pt-2021/</a></li>
<li>Universidade do Minho: <a href="https://www.uminho.pt/PT/siga-a-uminho/Paginas/Detalhe-do-evento.aspx?Codigo=57685" target="_blank">https://www.uminho.pt/PT/siga-a-uminho/Paginas/Detalhe-do-evento.aspx?Codigo=57685</a>
<li>FCT : <a href="https://www.fct.pt/noticias/index.phtml.pt?id=680&/2021/6/Arquivo.pt_Prize_2021_has_chosen_the_winners" target="_blank">https://www.fct.pt/noticias/index.phtml.pt?id=680&/2021/6/Arquivo.pt_Prize_2021_has_chosen_the_winners</a></li>
<li>FCCN: <a href="https://www.fccn.pt/noticias/premio-arquivopt-2021-elege-vencedores/" target="_blank">https://www.fccn.pt/noticias/premio-arquivopt-2021-elege-vencedores/</a></li>
<li>INCoDe2030: <a href="https://www.incode2030.gov.pt/destaque/ja-sao-conhecidos-os-tres-vencedores-do-premio-arquivopt-2021" target="_blank">https://www.incode2030.gov.pt/destaque/ja-sao-conhecidos-os-tres-vencedores-do-premio-arquivopt-2021</a></li>
<li>BragaTV: <a href="https://bragatv.pt/projeto-da-uminho-que-recolhe-dados-sobre-minorias-em-jornais-vence-premio-arquivo-pt/" target="_blank">https://bragatv.pt/projeto-da-uminho-que-recolhe-dados-sobre-minorias-em-jornais-vence-premio-arquivo-pt/</a></li>
<li>O MINHO: <a href="https://ominho.pt/equipa-da-uminho-vence-premio-de-10-mil-euros-e-sera-laureada-perante-marcelo/" target="_blank">https://ominho.pt/equipa-da-uminho-vence-premio-de-10-mil-euros-e-sera-laureada-perante-marcelo/</a></li>
<li>+Guimarães: <a href="https://maisguimaraes.pt/projeto-da-uminho-sobre-minorias-em-jornais-vence-premio-arquivo-pt/" target="_blank">https://maisguimaraes.pt/projeto-da-uminho-sobre-minorias-em-jornais-vence-premio-arquivo-pt/</a></li>
<li>Jornal de Guimarães: <a href="https://jornaldeguimaraes.pt/noticias/universidade-do-minho-distinguida-por-trabalho-sobre-minorias-no-online/" target="_blank">https://jornaldeguimaraes.pt/noticias/universidade-do-minho-distinguida-por-trabalho-sobre-minorias-no-online/</a></li>
</ul>

<br>

<h2>Trailer:</h2>

<p class="text-center"><iframe width="854" height="480" src="https://www.youtube.com/embed/-atqhRtx0To" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<br>

<h2>Defesa - Prémio Arquivo.pt 2021:</h2>
<p class="text-center"><iframe width="854" height="480" src="https://www.youtube.com/embed/sHZKcbdaBOY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<br>

<h2>Prémio Arquivo.pt 2021 - Encontro Ciência 2021</h2>
<p class="text-center"><iframe width="854" height="480" src="https://www.youtube.com/embed/DVU1uxPezeM?start=37196" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>


</div><!-- /.container-fluid -->
</section>


<script>

</script>

{% endblock %}
