{% extends "layout.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/3d9627186b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles-minorias.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div id="minorias">


    <div class="bgimg refugiados">
        <span>REFUGIADOS</span>
    </div>

    <div class="auto-responsive-container">
        <div class="years-text">
            <h1 class="green-title">Menções em notícias ao longo dos anos</h1>
            <p>Apesar do termo "refugiados" ter aparecido mais frequentemente a partir do íncio da última decada, devido à crise refugiados na Europa, estes sempre estiveram presentes.
                Através da análise da incidência do maior número de notícias anualmente, é possível verificar que, de facto, a partir de 2011, ocorreu uma crise migratória, que constituiu um tema bastante controverso e com direito a diversos artigos. Anteriormente a 2011, o aumento gradual da quantidade de refugiados parece não ter tido relevância na imprensa, apenas foi incidido foco quando a situação piorou de forma acentuada.</p>
        </div>
        <div class="years-graph">
            <canvas id="yearsChart"></canvas>
        </div>
    </div>

    <div class="in-portugal-container refugiados">
        <div class="portugal-map">
            <img src="{{ url_for('static', filename='images/minorias/portugal-map.PNG') }}" alt="Portugal Map">
        </div>
        <div class="in-portugal-content">
            <div class="years-text">
                <span style="font-size: 13px; color: white;">Contextualização</span>
                <h1 class="white-title">Refugiados em Portugal</h1>
                <p>Pessoas que se vêm obrigadas a fugir de guerras e pobrezas extremas, procuram noutros países o que não conseguem encontrar nos seus países de origem. 
                    Desde o final de 2015 até fevereiro de 2018, Portugal recebeu 1.870 refugiados, sendo o 6.º país da União Europeia que mais refugiados acolheu ao abrigo do Programa de Recolocação. 
                    Os indicadores de integração indicam que 92% dos Refugiados em Portugal tiveram aprendizagem da língua portuguesa, todos acederam a cuidados de saúde, todas as crianças e jovens em idade escolar frequentam o sistema de ensino e quase metade dos adultos estão integrados no mercado de trabalho ou em programas de formação.
                    </p>
            </div>
        </div>
        <div class="cigano-triangle">
            <img src="{{ url_for('static', filename='images/minorias/refugiados-triangle.PNG') }}" alt="Refugiados">
        </div>
    </div>

    <div class="auto-responsive-container">
        <div class="sentiment-graph">
            <canvas id="sentimentRadarChart"></canvas>
        </div>
        <div class="sentiment-text">
            <h1 class="green-title">Análise do sentimento</h1>
            <p>Foram analisados todos os títulos das notícias relacionadas com refugiados e foi extraído o seu "sentimento". A análise de sentimento é usada para determinar o tom emocional associado a sequências de palavras. O intuito desta análise, neste contexto, é o de permitir extrair conclusões sobre qual o carácter das notícias que maioritarimente incidem sobre cada uma das minorias. No caso dos refugiados, a maioria das notícias possui um carácter negativo.</p>
        </div>
    </div>

    <div class="facts green-background">
        <div class="title-center">
            <h1 class="white-title">Factos sobre os refugiados</h1>
        </div>
        <div class="fact">
            <h2>O número de pessoas deslocadas devido a guerras, violência e perseguição chegou a 68,5 milhões em 2017. <i class="fas fa-check" style="color:green";></i></h2>
            <p>ACNUR, 2018</p>
        </div> 
        <div class="fact right">
            <h2><i class="fas fa-check" style="color:green";></i> Portugal apenas acolheu 1866 refugiados, possuía cota comunitária para 4486.</i></h2>
            <p style="text-align: right;">Público, 2019</p>
        </div> 
        <div class="fact">
            <h2>Em todo o mundo, uma em cada 110 pessoas é deslocada. <i class="fas fa-check" style="color:green";></i></h2>
            <p>ACNUR, 2018</p>
        </div> 
        <div class="fact right">
            <h2><i class="fas fa-check" style="color:green";></i> 85% dos refugiados estão nos países em desenvolvimento.</i></h2>
            <p style="text-align: right;">ACNUR, 2018</p>
        </div>
    </div>


    <div class="title-center">
        <h1 class="green-title">Distribuição geográfica dos locais mencionados</h1>
    </div>

    <div class="auto-responsive-container geographic-distribution">
        <div>
            <img class="separated-map-img" src="{{ url_for('static', filename='images/minorias/portugal-map-separated.png') }}" alt="">
            {% for row in countByCities: %}{% if loop.index != 1: %}<br><br><br>{% endif %}<p class="map-zones"><b>{{row["city"]["value"]}}</b><br>{{row["articles"]["value"]}} Menções</p>{% endfor %}
        </div>
        <div>
            <img class="world-img" src="{{ url_for('static', filename='images/minorias/earth-vector-icon-png_296088.jpg') }}" alt="">
            {% for row in countByCountry: %}{% if loop.index != 1: %}<br><br><br>{% endif %}<p class="map-zones"><b>{{row["country"]["value"]}}</b><br>{{row["articles"]["value"]}} Menções</p>{% endfor %}
        </div>
    </div>

    <div class="geographic-info">
        <span>Naturalmente, ao nível global, os países com direito a maior número de menções em notícias são os países de onde provém a maioria dos refugiados, bem como os países que os acolhem. </span>
        <div class="divider div-transparent">   </div>
    </div>

    <div class="title-center">
        <h1 class="green-title">Alguns refugiados que talvez conheça</h1>
    </div>

    <div class="relevant-people-container green">
        <div class="relevant-person">
            <img src="{{ url_for('static', filename='images/minorias/refugiados-sergey.PNG') }}" alt="Sergey Brin">
            <h2>Sergey Brin</h2>
            <span style="color: grey;">Co-fundador da Google</span>
        </div>
        <div class="relevant-person">
            <img src="{{ url_for('static', filename='images/minorias/refugiados-einstein.PNG') }}" alt="Albert Einstein">
            <h2>Albert Einstein</h2>
            <span style="color: grey;">Físico</span>
        </div>
        <div class="relevant-person">
            <img src="{{ url_for('static', filename='images/minorias/refugiados-medeleine.PNG') }}" alt="Madeleine Albright">
            <h2>Madeleine Albright</h2>
            <span style="color: grey;">Secretária de Estado dos EUA</span>
        </div>
        <div class="relevant-person">
            <img src="{{ url_for('static', filename='images/minorias/refugiados-freddie.PNG') }}" alt="Freddie Mercury">
            <h2>Freddie Mercury</h2>
            <span style="color: grey;">Cantor</span>
        </div>
        
    </div>


    <div class = "pizza-container refugiados">
        <div class="pieID--operations pie-chart--wrapper" id="lol">
            <h1>Palavras-chave mais mencionadas</h1>
            <div class="pie-chart">
                <div class="pie-chart__pie"></div>
                <ul class="pie-chart__legend">
                    {% for row in countByKeywords: %}<li><em>{{row["keyword"]["value"]}}</em><span>{{row["articles"]["value"]}}</span></li>{% endfor %}
                </ul>
            </div>
        </div>

    </div>

    <div class = "title-most-mentioned green-background-wave">
        <h1 class="white-title">Figuras com maior número de menções em notícias</h1>
    </div>

    <div class="most-mentioned-container green-background-wave">
        
        {% for row in countByPeople: %}
        <div class = "famous-person">
            <img class ="famous-pic image-cropper" src="{{ url_for('static', filename='images/persons/'+row['person']['value'].lower().replace(' ','_')+'.jpg') }}">
            <h2>{{row["person"]["value"]}}</h2>
            <p class="famous-job">{% if "job" in row: %}{{row["job"]["value"]}}{% endif %}</p>
            <p class="n-mentions">Menções: {{row["articles"]["value"]}}</p>
        </div>
        {% endfor %}

    </div>

    <div class = "title-most-mentioned green-background-wave">
        <h1 class="white-title">Partidos políticos mencionados em notícias</h1>
    </div>

    <div class="most-mentioned-container green-background-wave">
        
        {% for row in countByPoliticalParty: %}
        <div class = "partido">
            <img class ="famous-pic image-cropper" src="{{ url_for('static', filename='images/partidos/'+row['party']['value'].lower().replace(' ','_').replace('!','')+'.png') }}">
            <h2>{{row["party"]["value"].upper()}}</h2>
            <p class="n-mentions">Menções: {{row["articles"]["value"]}}</p>
        </div>
        {% endfor %}  
        
        
    </div>

    <div class = "title-most-relevant">
        <img class="wave-P" src="{{ url_for('static', filename='images/minorias/P-refugiados.png') }}" style="width:100%">
        <h1 style="color: #87c834;">Algumas notícias relevantes</h1>
    </div>

    <div class="auto-responsive-container noticias-container ">
        {% for row in topArticles: %}
        <div class="noticia-card">
            <img src="{{ url_for('static', filename='images/articles/'+articleImages[loop.index-1])}}" style="width: 100%; height: 150px; object-fit: cover; object-position: 0 40%; filter: grayscale(70%);">
            <h5>{{row["title"]["value"]}}</h5>
            <p>{% if row["preview"]["value"]: %}{{row["preview"]["value"][:200]}}...{% else: %}{{row["text"]["value"][:200]}}...{% endif %}</p>
        </div>
        {% endfor %} 

        
    </div>

    <div class="see-more-news">
        <a href="{{ url_for('articles.articles')}}/{{minority}}">Ver todas</a>
    </div>




</div>


{% block end %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
<script>
function isScrolledIntoView(elem)
{
    var docViewTop = $(window).scrollTop();
    var docViewBottom = docViewTop + $(window).height();

    var elemTop = $(elem).offset().top;
    var elemBottom = elemTop + $(elem).height();

    return ((elemTop <= docViewBottom) && (elemBottom >= docViewTop));
}

$(window).scroll(function() {
    if (isScrolledIntoView('#yearsChart')) {
        if (inView) { return; }
        inView = true;
        var ctx = document.getElementById('yearsChart').getContext('2d');

        var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [{% for row in articlesByYear: %}{% if loop.index != 1 %},{% endif %}'{{row["year"]["value"]}}'{% endfor %}],
            datasets: [{
                label: 'Nº de Notícias',
                backgroundColor: 'rgb(160,223,80)', //received as argument
                borderColor: 'rgb(160,223,80)', //received as argument
                data: [{% for row in articlesByYear: %}{% if loop.index != 1 %},{% endif %}{{row["articles"]["value"]}}{% endfor %}] //received as argument
            }]
          },  
          options: {}
        });
    } else {
        inView = false;  
    }
});


$(window).scroll(function() {
    if (isScrolledIntoView('#sentimentRadarChart')) {
        if (inViewRadar) { return; }
        inViewRadar = true;
        var ctx = document.getElementById('sentimentRadarChart').getContext('2d');

        var myRadarChart = new Chart(ctx, {
          type: 'radar',
          data: {
            labels: ['Positivo', 'Negativo', 'Neutro'],
            datasets: [{
                label: 'Sentimento',
                backgroundColor: 'rgb(160,223,80)',
                data: [{{ countPositive }}, {{ countNegative }}, {{ countNeutral }}]
            }]
          },  
          options: {}
        });
    } else {
        inViewRadar = false;  
    }
});

function sliceSize(dataNum, dataTotal) {
  return (dataNum / dataTotal) * 360;
}

function addSlice(id, sliceSize, pieElement, offset, sliceID, color) {
  $(pieElement).append("<div class='slice "+ sliceID + "'><span></span></div>");
  var offset = offset - 1;
  var sizeRotation = -179 + sliceSize;

  $(id + " ." + sliceID).css({
    "transform": "rotate(" + offset + "deg) translate3d(0,0,0)"
  });

  $(id + " ." + sliceID + " span").css({
    "transform"       : "rotate(" + sizeRotation + "deg) translate3d(0,0,0)",
    "background-color": color
  });
}

function iterateSlices(id, sliceSize, pieElement, offset, dataCount, sliceCount, color) {
  var
    maxSize = 179,
    sliceID = "s" + dataCount + "-" + sliceCount;

  if( sliceSize <= maxSize ) {
    addSlice(id, sliceSize, pieElement, offset, sliceID, color);
  } else {
    addSlice(id, maxSize, pieElement, offset, sliceID, color);
    iterateSlices(id, sliceSize-maxSize, pieElement, offset+maxSize, dataCount, sliceCount+1, color);
  }
}






function createPie(id) {
  var
    listData      = [],
    listTotal     = 0,
    offset        = 0,
    i             = 0,
    pieElement    = id + " .pie-chart__pie"
    dataElement   = id + " .pie-chart__legend"

    color         = [
      "rgb(187,228,255)",
      "rgb(2,166,209)",
      "rgb(5,116,206)",
      "rgb(239,71,111)",
      "rgb(255,209,102)",
      "rgb(6,214,160)",
      "rgb(172,78,221)",
      "rgb(255,140,62)",
      "rgb(0,188,212)",
      "rgb(194,24,91)",
      "rgb(230,74,25)",
      "rgb(103,58,183)"
    ];

  color = shuffle( color );

  $(dataElement+" span").each(function() {
    listData.push(Number($(this).html()));
  });

  for(i = 0; i < listData.length; i++) {
    listTotal += listData[i];
  }

  for(i=0; i < listData.length; i++) {
    var size = sliceSize(listData[i], listTotal);
    iterateSlices(id, size, pieElement, offset, i, 0, color[i]);
    $(dataElement + " li:nth-child(" + (i + 1) + ")").css("border-color", color[i]);
    offset += size;
  }
}

function shuffle(a) {
    var j, x, i;
    for (i = a.length; i; i--) {
        j = Math.floor(Math.random() * i);
        x = a[i - 1];
        a[i - 1] = a[j];
        a[j] = x;
    }

    return a;
}

function createPieCharts() {
  createPie('.pieID--region' );
  createPie('.pieID--operations' );
}





$(window).scroll(function() {
    if (isScrolledIntoView('#lol')) {
        if (inViewPizza) { return; }
        inViewPizza = true;
        createPieCharts();
    } else {
        inViewPizza = false;  
    }
});
</script>

{% endblock %}

{% endblock %}