{% extends "layout.html" %}

{% block content %}

<style>
.lead li {padding-top:15px;}
.lead li:first-child {padding-top:0px;}
</style>

<section class="content">
<div class="container activities-list">

<h2>Publications:</h2>
<ul class="lead">
<li>Paulo Martins, Leandro Costa, & José Ramalho (2021). Major Minors - Ontological representation of minorities by newspapers. In OASIcs, Volume 94, SLATE 2021. URL: <a href="https://www.dagstuhl.de/dagpub/978-3-95977-202-0" target="_blank">https://www.dagstuhl.de/dagpub/978-3-95977-202-0</a>. DOI: <a href="https://doi.org/10.4230/OASIcs.SLATE.2021.3" target="_blank">https://doi.org/10.4230/OASIcs.SLATE.2021.3</a>.</li>

<li>Paulo Martins, Leandro Costa, & José Ramalho (2021). Implementation of a Knowledge Graph of press clippings representing social minorities. In Linked Archives 2021 - International Workshop on Archives and Linked Data. INESC TEC, Portugal. Url: <a href="https://linkedarchives.inesctec.pt/" target="_blank">https://linkedarchives.inesctec.pt/</a>. [in press]</li>

</ul>

<br>

<h2>Communications:</h2>
<ul class="lead">
<li>Paulo Martins, Leandro Costa, & José Ramalho (2021). Conversas@Rossio. "Save the data: Como os arquivos web combatem a desinformação". UNL, Portugal. 28/09/2021. URL: <a href="https://rossio.fcsh.unl.pt/2021/09/08/ciclo-de-conversasrossio-com/" target="_blank">Website</a> / <a href="https://www.youtube.com/watch?v=-TyRNu9Aiz8" target="_blank">Youtube</a></li>

<li>Paulo Martins, Leandro Costa, & José Ramalho (2021). "Major Minors com o Arquivo.pt no Dia Mundial da Preservação Digital". Arquivo.pt, Portugal. 04/11/2021. URL: <a href="https://sobre.arquivo.pt/pt/major-minors-com-o-arquivo-pt-no-dia-mundial-da-preservacao-digital-2021/" target="_blank">Website</a></li>

<li>Paulo Martins, Leandro Costa, & José Ramalho (2021). Linked Archives 2021 - International Workshop on Archives and Linked Data. INESC TEC, Portugal. 13/09/2021. Url: <a href="https://linkedarchives.inesctec.pt/" target="_blank">Website</a>.</li>

<li>Paulo Martins, Leandro Costa, & José Ramalho (2021). SLATE'21 - 10th Symposium on Languages, Applications and Technologies. School of Technology, Polytechnic Institute of Cávado and Ave, Portugal. 01/07/2021. Url: <a href="http://slate-conf.org/2021" target="_blank">Website</a>.</li>
</ul>

<br>

<h2>Networks / Datasets:</h2>
<ul class="lead">
<li>Dados.Gov: <a href="https://dados.gov.pt/pt/reuses/major-minors" target="_blank">https://dados.gov.pt/pt/reuses/major-minors</a></li>
<li>European Data Portal</li>
</ul>

<br>

<h2>Collaborations:</h2>
<ul class="lead">
<li><a href="https://www.di.uminho.pt/" target="_blank">DI</a> (Incubator)</li>
<li><a href="http://cehum.ilch.uminho.pt/" target="_lank">CEHUM</a> (Research Center)</li>
<!--<li><a href="https://sites.google.com/site/projectnetlang/" target="_blank">NetLang</a> (R&D Project)</li>-->
</ul>

<!--<p class="lead">A DISPONIBILIZAR EM BREVE</p>
<p class="text-center"><img src="{{ url_for('static', filename='images/ampulheta2.png') }}"></p>-->

</div><!-- /.container-fluid -->
</section>


<script>

</script>

{% endblock %}
